.app-menu {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.app-menu li {
    margin-right: 16px;
}

.app-menu li:last-of-type {
    margin-right: 0;
}

.app-menu li a {
    text-decoration: none;
}

.app-menu li a:hover {
    opacity: 0.9;
}

.app-menu li a:visited {
    color: var(--background);
}
