.app-button {
    padding: 6px 12px;
    border-radius: 4px;
    background: var(--primary);
    color: var(--background);
    border: 0;
}

.app-button--secondary {
    background: var(--secondary);
    color: var(--background);
}

.app-button--delete {
    background: darkred;
}
